@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account Settings</a>
        <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
            <a href="@Url.Action("Edit", "Profiles", new { id = Model.IsThisUser ? Model.CurrentProfile.ProfileId : Model.User.ProfileId })">Edit Profile Details</a>
            <a href="/Manage/ChangePassword">Change Password</a>
            <a class="text-danger" href="@Url.Action("Delete", "Profiles", new { id = Model.IsThisUser ? Model.CurrentProfile.ProfileId : Model.User.ProfileId })">Delete Profile</a>
            <div class="divider"></div>
            <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
        </div>
    </li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
