@model MotorcycleNewb.Models.ProfileViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Profile</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CurrentProfile.ProfileId)
    @Html.HiddenFor(model => model.CurrentProfile.AccountId, new { id = "GlobalId", value = ViewBag.GlobalID })

    <div class="form-group">
        @Html.LabelFor(model => model.CurrentProfile.FirstName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CurrentProfile.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurrentProfile.FirstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentProfile.LastName, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CurrentProfile.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurrentProfile.LastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentProfile.City, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CurrentProfile.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurrentProfile.City, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentProfile.MotorcycleMake, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CurrentProfile.MotorcycleMake, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurrentProfile.MotorcycleMake, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CurrentProfile.MotorcycleModel, htmlAttributes: new { @class = "control-label col-md-2 col-sm-3" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CurrentProfile.MotorcycleModel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CurrentProfile.MotorcycleModel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
