@model MotorcycleNewb.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
}

<h2>View</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-xs hidden-sm">
            <table>
                <tr>
                    <td>
                        @Html.DisplayFor(m => m.CurrentProfile.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.CurrentProfile.LastName)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.CurrentProfile.City)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.CurrentProfile.City)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.CurrentProfile.MotorcycleMake)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.CurrentProfile.MotorcycleMake)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(m => m.CurrentProfile.MotorcycleModel)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.CurrentProfile.MotorcycleModel)
                    </td>
                </tr>
                <tr>
                    <td>
                        Profile Picture:
                    </td>
                    <td>
                        <img src='@Model.CurrentProfile.ProfileImage.FileName' 
                             style='border-radius:50%;width:auto;height:300px;' />
                    </td>
                </tr>
                <tr>
                    <td>
                        Motorcycle Picture:
                    </td>
                    <td>
                        <img src='@Model.CurrentProfile.MotorcycleImage.FileName'
                             style='border-radius:50%;width:auto;height:300px;' />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

